version : '3.8'
services:
  order:
    container_name: orderapp
    build:
      context: ./order
      dockerfile: Dockerfile
    image: order:latest
    depends_on:
      - database
    ports:
      - "3000:3000"

  notification:
    container_name: notificationapp
    build:
      context: ./order
      dockerfile: Dockerfile
    image: order-service
    depends_on:
      - database
    ports:
      - "3003:3003"

  processing:
    container_name: orderapp
    build:
      context: ./order
      dockerfile: Dockerfile
    image: processing:latest
    depends_on:
      - database
    ports:
      - "3001:3001"

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
    volumes:
      - zookeeper_data:/var/lib/zookeeper
    networks:
      - microservices-net


  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: ms_kafka
    port:
      - 9092:9092
    depends_on:
      - zookeeper
    environment:
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
        volumes:
          - kafka_data:/var/lib/kafka/data
        networks:
            - microservices-net

networks:
   microservices-net:
     driver:bridge

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local